@import 'https://fonts.googleapis.com/css2?family=Maitree:wght@200;500&display=swap';

body {
  margin: 0;
}

.App {
  font-family: "Maitree", serif;
  text-align: center;
  color: #000000;
}

h1 {
  margin-bottom: 0;
}